<!DOCTYPE html>
<html lang="en">

<head>
    <title>Login / Sign Up</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="lvendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="lfonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="lfonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="lvendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="lvendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="lvendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="lvendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="lvendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="lcss/lutil.css">
    <link rel="stylesheet" type="text/css" href="lcss/lmain.css">
    <!--===============================================================================================-->
</head>

<body style="background-color:#df9f9e;">

    <div class="limiter">
        <div class="container-login100">
            <% if (error) { %>
                <div class="alert alert-success" role="alert">
                     <%= error %>
                  </div>
                   <% } %>
            <div class="wrap-login100">
                <form class="login100-form validate-form" method="POST" action="/auth/fakelogin">
                    <span class="login100-form-title p-b-43">
						Login to continue
					</span>


                    <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
                        <input class="input100" type="text" name="email">
                        <span class="focus-input100"></span>
                        <span class="label-input100">Email</span>
                    </div>


                    <div class="wrap-input100 validate-input" data-validate="Password is required">
                        <input class="input100" type="password" name="pass">
                        <span class="focus-input100"></span>
                        <span class="label-input100">Password</span>
                    </div>

                    <div class="flex-sb-m w-full p-t-3 p-b-32">
                        <div class="contact100-form-checkbox">
                            <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
                            <label class="label-checkbox100" for="ckb1">
								Remember me
							</label>
                        </div>

                        <div>
                            <a href="#" class="txt1">
								Forgot Password?
							</a>
                        </div>
                    </div>


                    <div class="container-login100-form-btn">
                        <button class="login100-form-btn">
							Login
						</button>
                    </div>

                    <div class="text-center p-t-46 p-b-20">
                        <span class="txt2">
							or sign up using
						</span>
                    </div>

                    <div class="login100-form-social flex-c-m">
                        <a href="/auth/google" class="login100-form-social-item flex-c-m bg1 m-r-5">
                            <i class="fa fa-google-plus" aria-hidden="true"></i>
                        </a>

                        <a href="#" class="login100-form-social-item flex-c-m bg2 m-r-5">
                            <i class="fa fa-facebook-f" aria-hidden="true"></i>
                        </a>
                        <a href="/auth/google" class="login100-form-social-item flex-c-m bg2 m-r-5">
                            <i class="fa fa-google" aria-hidden="true"></i>
                        </a>
                    </div>
                </form>

                <div class="login100-more" style="background-image: url('images/bg-01.jpg');">
                </div>
            </div>
        </div>
    </div>





    <!--===============================================================================================-->
    <script src="lvendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="lvendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="lvendor/bootstrap/js/popper.js"></script>
    <script src="lvendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="lvendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="lvendor/daterangepicker/moment.min.js"></script>
    <script src="lvendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="lvendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="ljs/lmain.js"></script>

</body>

</html>